{% extends "base.html" %}

{% block content %}
<header>
    <h1>Create Alert</h1>
</header>
<section class="create-alert-form">
    <form method="POST">
        <div class="form-group">
            <label for="item_name">Item Name</label>
            <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Apple Iphone"/>
        </div>
        <div class="form-group">
            <label for="item_url">Item URL</label>
            <input type="text" class="form-control" id="item_url" name="item_url" placeholder="http://..."/>
        </div>
        <div class="form-group">
            <label for="price_limit">Price Limit</label>
            <input type="text" class="form-control" id="price_limit" name="price_limit" placeholder="999" aria-describedby="pricelimitHelp"/>
            <small id="pricelimitHelp" class="form-text text-muted">
                Under what price you'ed like to get notified?
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>
{% endblock %}